.idea/
node_modules
node_modules/
npm-debug.log
tmp/
.sw[a-z]
/build
state.db
cpa-frontend.db
config.json
/coverage
cpa-frontend.iml
yarn-error.log
tests/coverage
test-report.json
.scannerwork
test-results
buildcache
test-report.xml